asgiref==3.7.2
beautifulsoup4==4.12.2
contourpy==1.2.0
cycler==0.12.1
Django==4.2.7
django-adminlte3==0.1.6
django-bootstrap4==23.2
django-cors-headers==4.3.1
fonttools==4.46.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
psycopg2==2.9.9
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
