{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <div class="card-title">
      {% if request.resolver_match.url_name == 'add_descricao_relatorio' %}
      Cadastrar Descrição de Relatório
      {% else %}
      Editar Descrição de Relatório
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %} 
      {% bootstrap_form form_descricao_relatorio %}
      <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
  </div>
</div>
{% endblock content %}