{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <div class="card-title">
        {% if request.resolver_match.url_name == 'add_setor' %}
        Cadastrar Setor
        {% else %}
        Editar Setor
        {% endif %}
      </div>
    </div>
  <div class="card-body">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Salvar</button>
  </form>
  </div>
  </div>
{% endblock content %}
