{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Responsável</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Responsavel</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for responsavel in responsaveis %}
                    <tr>
                        <td>{{responsavel.name}}</td>                        
                        <td>
                            <a href="{% url 'edit_responsavel' responsavel.id %}" class="mr-5"><i class="fa fa-cog"></i></a>
                            <a href="{% url 'delete_responsavel' responsavel.id %}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<a href="{% url 'add_responsavel' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}