{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Rotina</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Descrição do relatório</th>
                    <th>Prazo</th>
                    <th>Setor</th>
                    <th>Responsável</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for rotina in rotinas %}
                    <tr>
                        <td>{{rotina.descricao_relatorio}}</td>                        
                        <td>{{rotina.prazo}}</td>                        
                        <td>{{rotina.setor}}</td>                        
                        <td>{{rotina.responsavel.fullname}}</td>                        
                        <td>
                            <a href="{% url 'edit_rotina' rotina.id %}" class="mr-5"><i class="fa fa-cog"></i></a>
                            <a href="{% url 'delete_rotina' rotina.id %}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<a href="{% url 'add_rotina' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}