{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for rotina in rotinas %}
      <div class="col-md-4"> <!-- Cada card ocupa 4 colunas em telas médias -->
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title">{{ rotina.descricao_relatorio }}</h2>
          </div>
          <div class="card-body">
            <p>Setor: {{ rotina.setor }}</p>
            <p>Prazo: {{ rotina.get_prazo_display }}</p>
            <p>Status: <span class="badge {% with rotina.status as status %}
              {% if status == 'PENDENTE' %}badge-danger
              {% elif status == 'REALIZADO' %}badge-success
              {% elif status == 'PREVISAO_EXECUCAO' %}badge-secondary
              {% elif status == 'REALIZADO_FORA_PRAZO' %}badge-warning
              {% elif status == 'INVENTARIO_GERAL' %}badge-info
              {% elif status == 'JUSTIFICADO' %}badge-primary
              {% endif %}
            {% endwith %}">{{ rotina.get_status_display }}</span></p>
            <!-- Outros detalhes da rotina -->
            
            <!-- Botão para atualizar o status -->
            <a href="{% url 'atualizar_status_rotina' rotina.id %}" class="btn btn-primary">Atualizar Status</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <div class="alert alert-info">Nenhuma rotina atribuída a você.</div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
